.card {
    width: 100px;
    height: 100px;
    border-radius: 10px;
    background-color: #4c7daf;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: 2px solid #fff;
    font-size: 24px;
    color: transparent;
}

.card.flipped {
    background-color: #ffffff;
    color: #000;
}

.card.matched {
    background-color: #2196F3;
    color: #fff;
    pointer-events: none;
}
